* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  vertical-align: baseline;
}

.mainContainer {
  margin-top: 100px;
}

body {
  background-color: black;
  color: white;
}

h1.title {
  text-align: center;
  font-size: 4em;
}

div.weatherContainer {
  text-align: center;
  //border-style: solid;
  border-radius: 10px;
  width: 50%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

div div.weatherIconContainer {
  
  display: inline-block;
  
}

a:hover {
  text-decoration: none;
}
#weatherIcon {
  font-size: 8em;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3D72A4;
}
#weatherIconContainer {
  display: inline-block;
  
}

#weatherTemp {
  cursor: pointer;
  padding: 0px;
  margin-top: 0px;
  font-size: 4em;
}

div div.location {
  width: 50%;
  margin: 0px auto;
  border-style: solid; 
}

div div.measurement {
  width: 50%;
  margin: 0px auto;
  border-style: solid;
}

#signature{
  margin-top: 80px;
}
p span.signatureName {
  color: #337ab7;
}

#clock {
  font-size: 1em;
  color: white;
  margin: 0px;
}

/*
var colors = ['#16a085', '#27ae60', '#2c3e50', '#f39c12', '#e74c3c', '#9b59b6', '#FB6964', '#342224', "#472E32", "#BDBB99", "#77B1A9", "#73A857"];
*/